<link rel="stylesheet" href="home.css">


<nav>
    <a href="#contact"><img src="edc-logo.jpg" alt="logo" class="logo"></a>
    <ul>
        <li><a href="/">HOME</a></li>
        <li><a href="/">ABOUT US</a></li>
        <li><a href="#">INITIATIVE</a></li>
        <li><a href="/achievements">ACHIEVEMENTS</a></li>
        <li><a href="#">PROGRAMS</a></li>
        <li><a href="#">HAPPENINGS</a></li>
    </ul>
    <div class="cta-buttons">
        <a href="#" class="login-btn btn">Fab-Lab</a>
        <a href="#" class="btn">Startup School</a>
    </div>
</nav>