<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>EDC Cell</title>
    <link rel="stylesheet" href="/home.css">
</head>

<body>
    <div class="hero">
        <nav>
            <a href="#contact"><img src="edc-logo.jpg" alt="logo" class="logo"></a>
            <ul>
                <li><a href="/">HOME</a></li>
                <li><a href="#about">ABOUT US</a></li>
                <li><a href="#">INITIATIVE</a></li>
                <li><a href="/achievements">ACHIEVEMENTS</a></li>
                <li><a href="#">UPCOMINGS</a></li>
                <li><a href="#">IN-TRANSIT</a></li>
            </ul>
            <div class="cta-buttons">
                <a href="/facility" class="login-btn  btn">Facility</a>
                <a href="/login" class="btn">LogIn Admin</a>
            </div>
        </nav>
        <div class="contain">
            <h1 class="anim">PARUL INNOVATION & ENTREPRENEURSHIP RESEARCH CENTRE</h1>
            <p class="anim">Ideate-Innovate-Incubate</p>
            <form action="/service" method="get">
                <button  class="btn anim" >APPLY FOR START-UP SUPPORT</button>
            </form>
        </div>
        <img src="pic.png" class="feature-img anim">
    </div>
</body>
</html>
