<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Our Services</title>
    <link rel="stylesheet" href="service.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
</head>

<body>
    

 
        <%- include("includes/header.ejs") %>

   

        <div class="container">
            <section class="services">
                <h1>Startup <span>Support</span></h1>
                <p>We are here to help you</p>
                <p>What types of support do you need..?</p>
            </section>
            <div class="row">
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-user" aria-hidden="true"></i>
                        <h3>Growth<span>Pad program</span></h3>
                        <p>The Growth Pad Initiative Within The PIERC Incubation Program Is Tailored For Startups In The
                            Product Stage, Ready To Enter The Market. We Offer Targeted Support And Guidance To
                            Accelerate
                            The Growth And Success Of These Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-lightbulb" aria-hidden="true"></i>
                        <h3>Need <span>Based Support</span></h3>
                        <p>The Need-Based Support Program Within The PIERC Incubation Program Is Designed Specifically
                            For
                            Startups Already In
                            The Market. We Offer Tailored Assistance To Address Specific Needs And Enhance Their Growth
                            Trajectory.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="service-box">
                        <i class="fa-solid fa-list" aria-hidden="true"></i>
                        <h3>Incubation <span>Program</span></h3>
                        <p>The PIERC Incubation Program Assists Beginners In The Idea Stage To Kickstart Their Startup
                            Idea.
                            We Provide Support And Guidance To Transform Ideas Into Successful Ventures.</p>
                        <form action="/apply" method="get">
                            <button><i class="fa-solid fa-arrow-right"></i></button>
                        </form>
                    </div>
                </div>
                
            </div>
        </div>
        

        
        <footer id="contact">
            <!-- Content of footer section -->
            <%- include("includes/footer.ejs") %>

        </footer>
</body>

</html>