<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Successfull!</title>
    <link rel="stylesheet" href="home.css">
</head>

<body>
    <h1>form successfully submited</h1>

    <h4>click on button to redirect to home page!</h4>

    <form action="/apply/home" method="get">
        <button  class="btn anim"> Home Page </button>
    </form>
</body>

</html>